<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="text-theme-primary">Add New Post</h3>
            <p>You can add new post here</p>
        </div>
    </div>

    <form [formGroup]="postForm">
        <div class="row">
            <div class="col-md-7">
                <div class="card shadow-effect">
                    <div class="card-body">
                        <div class="form-group mb-3">
                            <label  class="form-label">Title</label>
                            <input type="text" class="form-control" 
                            (keyup)="onTitleChanged($event)"
                            formControlName="title"
                            [ngClass]="{'is-invalid' : formControl.title.invalid && formControl.title.touched}">
                            <div *ngIf="formControl.title.errors?.required">
                                <div class="form-text text-start text-danger" *ngIf="formControl.title.touched && formControl.title.invalid">
                                    Title is required.
                                </div>
                            </div>
                            <div *ngIf="formControl.title.errors?.minlength">
                                <div class="form-text text-start text-danger" *ngIf="formControl.title.touched && formControl.title.invalid">
                                    Title must be at least 5 chars long.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" >Permalink </label>
                            <input type="text" class="form-control" 
                            [(ngModel)]="permalink" 
                            name="permalink" 
                            disabled
                            [ngClass]="{'is-invalid' : formControl.permalink.invalid && formControl.permalink.touched}"
                            >
                            <div *ngIf="formControl.permalink.errors?.required">
                                <div class="form-text text-start text-danger" *ngIf="formControl.permalink.touched && formControl.permalink.invalid">
                                    Permalink is required.
                                </div>
                            </div>
                           
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" >Except </label>
                            <textarea cols="30" rows="10" class="form-control" formControlName="except"
                            [ngClass]="{'is-invalid' : formControl.except.invalid && formControl.except.touched}"></textarea>

                            <div *ngIf="formControl.except.errors?.required">
                                <div class="form-text text-start text-danger" *ngIf="formControl.except.touched && formControl.except.invalid">
                                    Except is required.
                                </div>
                            </div>
                            <div *ngIf="formControl.except.errors?.minlength">
                                <div class="form-text text-start text-danger" *ngIf="formControl.except.touched && formControl.category.invalid">
                                    Except must be at least 15 chars long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group mb-3">
                    <label for="" class="form-label"  >Please select post category</label>
                    <select  class="form-select" formControlName="category"[ngClass]="{'is-invalid' : formControl.category.invalid && formControl.category.touched}">
                        <option value="" disabled selected>Please select a category</option>
                        <option *ngFor="let category of categories" value="{{category.data.name}}">{{category.data.name}}</option>
                    </select>
                    <div *ngIf="formControl.category.errors?.required">
                        <div class="form-text text-start text-danger" *ngIf="formControl.category.touched && formControl.category.invalid">
                            Category is required.
                        </div>
                    </div>
                    
                </div>
                <div class="form-group mb-3">
                    <label for="" class="form-label" >Post Image</label>
                    <img [src] = "imgSrc" alt="" class="form-control img-fluid img-preview">
                   <input type="file" class="form-control" accept="image/*" (change)="onImageChange($event)"formControlName="postImage"
                   [ngClass]="{'is-invalid' : formControl.category.invalid && formControl.category.touched}" >
                   <div *ngIf="formControl.postImage.errors?.required">
                    <div class="form-text text-start text-danger" *ngIf="formControl.postImage.touched && formControl.postImage.invalid">
                        Post Image is required.
                    </div>
                </div>
                </div>
            </div>

        </div>

        <div class="row my-4">
            <div class="col-md-12">
                <div class="card shadow-effect">
                    <div class="card-body">
                        <div class="form-group mb-3">
                            <label  class="form-label">Content </label>
                            <angular-editor  placeholder="Add your content here" formControlName="content"
                            [ngClass]="{'is-invalid' : formControl.category.invalid && formControl.category.touched}"></angular-editor>
                            <div *ngIf="formControl.content.errors?.required">
                                <div class="form-text text-start text-danger" *ngIf="formControl.content.touched && formControl.content.invalid">
                                    Content is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 text-center my-5">
                <button class="btn btn-info bg-theme text-white" [disabled]="postForm.invalid">Save Post</button>
                <button class="btn btn-warning ms-3" routerLink="/posts">Back To Posts</button>
            </div>
        </div>
    </form>
</div>