<div class="card shadow-effect mb-3" *ngIf="post">
    <img
        src="{{post.postImagePath}}"
        alt="post-image" class="card-img-top" />
    <div class="card-body">
        <small class="bg-light text-danger text-center me-3"> {{post.category.name}} </small>
        <small class="bg-light text-success text-center me-3">{{post.isFeatured ? 'Featured' : ''}} </small>
        <small class="bg-light text-info text-center me-3">Views - {{post.views}}
        </small>

        <h5 class="card-title mt-4"><a [routerLink]="['post', postData.id]">{{post.title}}</a></h5>
        <p class="card-text">{{post.content}}</p>
        <small class="bg-light text-warning text-center me-3">Last Update - {{post.createdAt.toMillis() | date}}
        </small>
    </div>
</div>