<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-secondary-theme">
                <div class="card-body text-center">
                    <h3 class="text-theme-primary">All Subscribers</h3>
                    <p>From here you can manage your subscribers.</p>
                   
                    <button class="btn btn-warning ms-2" routerLink="/">Back To Dashboard</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5"><div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card shadow-effect">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col"># </th>
                                <th scope="col">User Name</th>
                                <th scope="col">User Email</th>
                                <th scope="col">Actions</th>
                                
                              </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sub of subscriptions; let i = index">
                                <td>{{i + 1}}</td>
                                <td>{{sub.data.name}}</td>
                                <td>{{sub.data.email}}</td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(sub.id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>