/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');
:root{
    --primary-color: #026467;
    --secondary-color: #E5F5EA;
    --body-text-color: #596392 ;
    --navbar-footer-color: #f9f9f9;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--body-text-color) !important;
}

.logo{
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-transform: uppercase;
}
.nav-link {
    color: var(--primary-color) !important;
    text-transform: uppercase;
}

.app-body {
    min-height: 40vh;
    margin-top: 150px;
}

.shadow-effect {
    border: none !important;
    box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}

input[type=text], input[type=email] {
    height: 60px ;
    padding-left: 20px;
    font-size: 13px;
    width: 100%;
}

.btn-theme {
    height: 58px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
    text-transform: uppercase;
}