<div class="card my-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="my3">Comments (123,3) </h4>
        <div class="comment-box mt-3">
            <h6 class="mb-0">
                Mohammad
            </h6>
            <small class="text-danger">last update SEP 23, 2023</small>
            <div class="my-3">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis
                id, omnis vero animi adipisci doloremque assumenda voluptatibus
                possimus tenetur est praesentium laborum iusto, labore inventore
                molestias, obcaecati aliquam voluptates.
            </div>
            <a href="#" class="mt-1"> Reply</a>
            <a href="#" class="mt-1 ms-3"> View Reply</a>
            <hr />
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">
                Mohammad
            </h6>
            <small class="text-danger">last update SEP 23, 2023</small>
            <div class="my-3">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis
                id, omnis vero animi adipisci doloremque assumenda voluptatibus
                possimus tenetur est praesentium laborum iusto, labore inventore
                molestias, obcaecati aliquam voluptates.
            </div>
            <a href="#" class="mt-1"> Reply</a>
            <a href="#" class="mt-1 ms-3"> View Reply</a>
            <hr />
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">
                Mohammad
            </h6>
            <small class="text-danger">last update SEP 23, 2023</small>
            <div class="my-3">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis
                id, omnis vero animi adipisci doloremque assumenda voluptatibus
                possimus tenetur est praesentium laborum iusto, labore inventore
                molestias, obcaecati aliquam voluptates.
            </div>
            <a href="#" class="mt-1"> Reply</a>
            <a href="#" class="mt-1 ms-3"> View Reply</a>
            <hr />
        </div>
    </div>
</div>